*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
target/
lint.xml
bin/
gen/
.settings
.project
.classpath
*.iml
out
gen-external-apklibs/
classes/
local.properties
*/local.properties
*/out
*/build/**
!*/build/apk/
*/production/
*.iws
*.ipr
*~
*.swp


